# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Cypress output
cypress/screenshots/
cypress/videos/

# Local environment files
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE project files
.idea/
.vscode/
*.iml

# Logs
*.log
